* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .25s;
}

body {
    font-family: "Poppins", Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-optical-sizing: auto;
    color: #000;
    line-height: 1.6;
    background: #f4f4f4;
}

nav {
    flex-grow: 9;
    font-size: 1rem;
}

nav li, nav a {
    display: inline-flex;
}

nav svg {
    padding: .2em;
    width: 1.5em;
    display: block;
}

nav svg:hover path {
    opacity: .41;
}

header {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
    justify-content: space-between;
    align-items: top;
}

header > div {
    display: flex;
    flex-wrap: wrap;
}

header .logo {
    flex-grow: 1;
}

header .logo svg {
    width: 4rem;
}

header nav {
    text-align: right;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.05em;
    margin-top: 5rem;
    padding: .5rem 0;
}

h1 em {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    font-style: normal;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2em;
    padding-bottom: 1rem;
    color: #909090
}

h2 em {
    font-style: normal;
    color: #000;
}

section {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    column-count: 2;
    column-gap: 3rem;
}

section p {
    padding-bottom: 1.5rem;
    font-weight: 300;
}

footer {
    width: 90%;
    margin: 0 auto;
    padding: 3.5rem 0 1rem 0;
}

@media (min-width: 1024px) {
    header, section, footer {
        width: 1024px
    }
}

@media (max-width: 800px) {
    section {
        column-count: 1;
    }
}